@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.cross div:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .cross div:nth-child(2) {
    opacity: 0;
  }
  
  .cross div:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }